// Fonts

$primary-font: "Space Grotesk", sans-serif;

// Colors
$green-blue: #115d65;
$black-blue: #1f2937;
$yellow: #e7ff8f;
$green: #8ddaa0;
$grey: #242424;
$grey-light: #d9d9d9;
$dark-background: #151515;

// Breakpoints
$bp-mobile: 350px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
